body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
#header{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}
.navbar{
    background-color: orange;
}
#logo img{
    width: 100px;
}
.nav-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-right: 20px;
}
#nav-bar:focus{
    border-color: transparent;
}
#nav-bar{
    padding-left: 37px;
    padding-top: 20px;
    padding-bottom: 20px;
  
}

.nav-search i{
    position: absolute;
    right: 73%;
}

.nav-search .btn{
    box-shadow: 0 4px 8px rgb(0,0,0,0.5);
}
.header-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;   
}
.header-icons p{
    
    margin-top: 20px;
}
.header-icons i{
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 7px;
    font-size: 30px;
   
}
.header-icons i:hover{
    background-color: rgb(243, 235, 235);
}
small{
    font-size: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}