*{
    margin: 0;
    padding: 0;
}
body{
   background-color: whitesmoke;
   min-height: 100vh;
}

.product-category{
    display: flex;
    flex-direction: row;
    align-items:self-start;
    justify-content: space-between;
    height: 300px;
}
.product-category-list{
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding-left: 35px;
    padding-right: 15px;
    padding-top: 5px;
    background-color: white;
    margin-right: 10px;
}
.product-category-list a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    
}
.product-contact{
    font-size: 15px;
    margin-left: 10px;
}
.contact-help{
    max-width: 180px;
    line-height: 10px;
    border: 1px solid white;
    border: none;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    max-width: 200px;
}
@media only screen and (max-width:768px){
    .product-category{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #product-recommendation{
        margin-left: 15px;
        margin-right: 15px;
    }
}

.product-body{
   
    margin-top: 190px;
}
.card-products{
    padding: 20px;
    background-color: white;
    margin-left: 4px;
    width: 1090px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.card-products img{
    width: 100px;
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    width: 1090px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-link a{
    color: orange;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
}
.recommendations-card{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.recommendations-card img{
    width: 180px;
    padding: 10px;
}
