{% extends 'core/base.html' %}
{% block content %}
<body style="background-color: rgb(240, 240, 240);">
    <div class="container">
        <div class="account-top">
            <div class="account-pages">
                <div class="account-pages-top">
                    <a href="#" active><p><i class="bi bi-person"></i>My Jumia Account</p></a>
                    <a href="#"><p><i class="bi bi-gift"></i>Orders</p></a>
                    <a href="#"><p><i class="bi bi-envelope"></i>Inbox</p></a>
                    <a href="#"><p><i class="bi bi-chat-left-quote"></i>Pending reviews</p></a>
                    <a href="#"><p><i class="bi bi-receipt"></i>Vouchers</p></a>
                    <a href="#"><p><i class="bi bi-heart"></i>Saved Items</p></a>
                    <a href="#"><p><i class="bi bi-shop"></i>Followed Sellers</p></a>
                    <a href="#"><p><i class="bi bi-compass"></i>Recently viewed</p></a>
                    <a href="#"><p>Account Management</p></a>
                    <a href="#"><p>Address Book</p></a>
                    <a href="#"><p>Newsletter Preferences</p></a>
                    <a href="#"><p>Close Accountt</p></a>
                </div>
               
                <div class="account-pages-bottom w3-red w3-btn">
                    <a href="{% url 'logout' %}"><p>LOGOUT</p></a>
                </div>
            </div>
    
            <div class="account-overview">
                <h3>Account Overview</h3>

                <div class="addount-overview-top">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">ACCOUNT DETAILS</h5>
                            <div class="form-group">
                                <label for="firstName"><strong>First Name:</strong></label>
                                <input type="text" class="form-control" id="firstName" value="{{ request.user.first_name }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="lastName"><strong>Last Name:</strong></label>
                                <input type="text" class="form-control" id="lastName" value="{{ request.user.last_name }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="username"><strong>Username:</strong></label>
                                <input type="text" class="form-control" id="username" value="{{ request.user }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="email"><strong>Email:</strong></label>
                                <input type="email" class="form-control" id="email" value="{{ request.user.email }}" readonly>
                            </div>
                        </div>
                    </div>
                    
                

                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">ADDRESS BOOK</h5>
                          <p class="card-text">Your default shipping address:</p>
                          <p class="card-text">No default shipping address available</p>
                          <a href="#" class="card-link">ADD DEFALT ADDRESS</a>
                        </div>
                    </div>
                </div>

                <div class="account-overview-bottom">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">JUMIA STORE CREDIT</h5>
                          <p class="card-text">Jumia Pay Balance: Ksh. 0</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">NEWSLETTER PREFERENCES</h5>
                          <p class="card-text">You are currently not subscribed to any of our newsletters.</p>
                          <a href="#" class="card-link">EDIT NEWSLETTER PREFERENCES</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}