<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        {% for item in products %}
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ item.display_img }}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{ item.Prod_Name }}</h5>
                        <h5 class="card-title">Price: {{ item.Pod_Price }}</h5>
                        <h5 class="card-title">Category: {{ item.Category }}</h5>
                        <h5 class="card-title">Description: {{ item.Pod_Description }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
